<form (ngSubmit)="onLogin()" [formGroup]="loginForm">
       <input type="text"
           formControlName="enteredusername"
           placeholder="Username"
           required
           minlength="1"
           pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}"
           />
       <div *ngIf="loginForm.get('enteredusername')?.hasError('invalid')">Invalid Username</div>
       <br>
       <input type="password"
           formControlName="enteredpassword"
           placeholder="Password"
           required
           minlength="8"
           pattern="^[a-zA-Z0-9@*#]{8,15}"
           />
       <div *ngIf="loginForm.get('enteredpassword')?.hasError('invalid')">Invalid Password</div>
       <br>
       <button type="submit">Login</button>
   </form>
   