<form (submit)="onSignup(signupform)" #signupform="ngForm">
    <input type="text"
        ngModel name="newusername"
        placeholder="New Username"
        required
        minlength="1"
        #newusername="ngModel" />
    <div *ngIf="newusername.invalid && (newusername.dirty || newusername.touched)">invalid</div>
    <br>
    <input type="password"
        ngModel name="newpassword"
        placeholder="New Password"
        required
        minlength="1"
        pattern="^([a-zA-Z0-9@*#]{8,15})"
        #newpassword="ngModel" />
    <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)">invalid</div>
    <br>
    <button type="submit">Signup</button>
</form>
